@charset "UTF-8";

body,html {
    background-size: cover;

}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}



.item1 {
    
    background-color: rgb(255, 0, 0);
    width: 200px;
    height: 700px;
    margin: 10px;
    border-radius: 15px;
}

.item2 {
    background-color: rgb(255, 0, 0);
    width: 200px;
    height: 700px;
    margin: 10px;
    border-radius: 15px;
}

.item3 {
    background-color: rgb(255, 0, 0);
    width: 200px;
    height: 700px;
    margin: 10px;
    border-radius: 15px;
}





