
body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.box {
    width: 600px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 40px;
    text-align: center;
}

.logo img {
    width: 200px;
    margin-bottom: 40px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

.input-group input:focus ~ .bar {
    width: 100%;
}

.input-group input:focus {
    border-color: #4CAF50;
}

.bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #4CAF50;
    transition: width .3s;
}

.button-group {
    margin-top: 30px;
}

.btn {
    width: 100%;
    padding: 14px 20px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    border: none;
}