@charset "UTF-8";

body,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    width: 500px;
    margin-top: 50%;
}

@keyframes linha {
    from {
        transform: translateY(200px);
    }

    to {
        transform: translateY(-200px);
    }
}

.movi {
    /*animation-name: linha;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;*/

    animation: linha 2s ease-in-out 0s both infinite alternate;
}